<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <%- include('./partials/nav') %>

    <div class="container">

        <table>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Gender</th>
              <th>City</th>
              <th>About</th>
              <th>Action</th>
            </tr>

                <% if(data.length > 0) { %>
                    <% data.forEach(element => { %>
                        <tr>
                            <td><%= element.first_name %></td>
                            <td><%= element.last_name %></td>
                            <td><%= element.email %></td>
                            <td><%= element.gender.toUpperCase() %></td>
                            <td><%= element.city.toUpperCase() %></td>
                            <td><%= element.about_your_self %></td>
                            
                            <td><a href="#"><i class="small material-icons">edit</i></a> <a href="/user-delete/<%= element._id %>"><i class="small material-icons">delete</i></a> <a href="/user-details/<%= element._id %>"><i class="small material-icons">remove_red_eye</i></a> </td>
                        </tr>
                        <% }) %>                   
                <% } else { %> 
                        <tr><td>No data available</td></tr>
                <% } %>
            </tr>
            
          </table>
    </div>
    
</body>
</html>
